# Tier 1 only needs typing extensions.
typing_extensions>=4.0.0

# Tier 2: file
#
fasteners>=0.16.3

# Tier 3: host
#
packaging
urllib3>=1.26.17
flask>=2.0.1
werkzeug>=2.0.1

# Tier 4: test and devs
# For developers, recommend to run these commands:
# python -m pip install pip wheel setuptools build twine --upgrade
# python -m pip install -r requirements-dev.txt
#
black
build
flake8
flake8-black
pylint
twine
pytest
pytest-xdist
pytest-flask
requests>=2.25.1
